
.user-pic {
  padding: 1vw;
  border-radius: 15%;
}

.user-card {
  --background: rgb(210, 247, 210);
  margin-left: 0px;
  margin-right: 0px;
}
ion-card-title {
  font-size: 4vw;
  white-space: nowrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.header-img {
  height: 5vh;
  margin-right: 8px;
  border-radius: 15%;
}

.group-id-text {
  padding-bottom: 3vh;
}

.add-margin-right {
  margin-right: 4vw;
}
