<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-text ion-text-wrap>

      <h1>Welcome to the Gift Lists App!</h1>

      <p>
        <b>Author:</b> Victor Norman<br>
        Associate Professor of Computer Science <br>
        at <a href="https://www.calvin.edu">Calvin University</a>
      </p>
      <p>
        <b>Instructions:</b> The idea with this app is that each person in your family can share their gift lists
        with each other in one place. You each put your own gift list into the app, and
        others can see what you've put in, and you can see others' gift lists. Others can
        comment on your list, claim items from the list, add items to your list, etc.,
        but you cannot see any of this.
      </p>
      <p>
        You can include with each gift a description, cost, picture, and a URL.
      </p>
      <p>
        <b>Login and privacy:</b> Your login information (username, email, and password) is used only
        to uniquely identify you in the system. The author and administrator of this app can see your
        login and username information, but cannot read your password -- it is stored in an encrypted
        format. Nevertheless, it is best to use a unique password when creating your account.
        <br>
        Your personal information will never be given away or sold. Who's got time for those kinds of
        shinanigans?
      </p>

      <p>
        Version: 0.5
      </p>
    </ion-text>
  </ion-item>
</ion-content>