<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-text ion-text-wrap>

      <h1>Welcome to the Gift Lists App!</h1>

      <p>
        Author: Victor Norman<br>
        Associate Professor of Computer Science <br>
        at <a href="http://www.calvin.edu">Calvin University</a>
      </p>

      <p>
        Instructions: The idea with this app is that each person in your family can share your gift lists
        with each other in one place. You each put your own gift list into the app, and
        others can see what you've put it, and you can see others' gift lists. Others can
        comment on your list, claim items from the list, etc., but you cannot see any of this. You can even put
        items on others' lists -- but they cannot see those additions.
      </p>
      <p>
        You can include with each gift a description, cost, picture, and a URL.
      </p>

      <p>
        Version: 0.1.6
      </p>
    </ion-text>
  </ion-item>
</ion-content>