<ion-header>
  <ion-toolbar>
    <ion-title>Add/edit gift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="gift.name" placeholder="title for this gift">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Info</ion-label>
    <ion-textarea [(ngModel)]="gift.info" placeholder="info about this gift">
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Estimated cost ($)</ion-label>
    <ion-input type="number" [(ngModel)]="gift.cost">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">URL:</ion-label>
    <ion-input placeholder="link to find more info" type="url" [(ngModel)]="gift.url"></ion-input>
  </ion-item>
  <div *ngIf="gift.imageData">
    <img class="gift-image center" [src]="gift.imageData ? addJpegPrefix(gift.imageData) : (gift.imageUrl | async)">
    <ion-button class="center" (click)="replacePicture()">Replace Photo</ion-button>
  </div>
  <div *ngIf="! gift.imageData">
    <ion-button size="small" class="center" (click)="takePicture()">Take Photo</ion-button>
  </div>
  <div>
    <ion-button size="small" type="submit" (click)="addNewGift() ">Submit</ion-button>
    <ion-button size="small" (click)="cancel()">Cancel</ion-button>
  </div>
</ion-content>