<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p></p>
  <p></p>
  <h1 class="center">
    <ion-icon class="gift-odd" name="gift"></ion-icon>
    <ion-icon class="gift-even" name="gift"></ion-icon>
    <ion-icon class="gift-odd" name="gift"></ion-icon>
    <ion-icon class="gift-even" name="gift"></ion-icon>
  </h1>
  <h1 class="center">
    Welcome to the
  </h1>
  <h1 class="center">
    Family Gift Management App
  </h1>
  <h1 class="center">
    <ion-icon class="gift-odd" name="gift"></ion-icon>
    <ion-icon class="gift-even" name="gift"></ion-icon>
    <ion-icon class="gift-odd" name="gift"></ion-icon>
    <ion-icon class="gift-even" name="gift"></ion-icon>
    <ion-icon class="gift-odd" name="gift"></ion-icon>
    <ion-icon class="gift-even" name="gift"></ion-icon>
  </h1>
  <p></p>
  <p></p>

  <ion-button class="center" (click)="signIn()">Log in with your Google Account</ion-button>
</ion-content>