

// for some reason when you center a button, the inner padding on the button
// goes down to 0px or so. This re-establishes the button height.
ion-button {
  --padding-top: 8px;
  --padding-bottom: 8px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

@keyframes up-and-down {
  0% {   transform: translateY(0px);  }
  100% {  transform: translateY(-10px); }
}

.gift-odd {
  color: green;
  animation-name: up-and-down;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.gift-even {
  color: red;
  animation-name: up-and-down;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.password-info {
  font-size: smaller;
}

.reset-password {
  font-size: smaller;
  text-decoration: underline;
}

