// * {
//   border: 1px solid black;
// }

.edit-delete-col {
  padding: 0;

  .edit-delete-button {
     margin: 0;
     --padding-start: 0;
     --padding-end: 0;
     --background: transparent;
     --color: black;
  }
}

.gift-card {
  width: 100vw;
  margin-left: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.gift-card-red {
  background: linear-gradient(to bottom, #ffd3d3, #ffc1c1);
  --background: linear-gradient(to bottom, #ffd3d3, #ffc1c1);
}
.gift-card-green {
  background:linear-gradient(to bottom, #c6ffc6, #98ff98);
  --background:linear-gradient(to bottom, #c6ffc6, #98ff98);
}

.gift-name {
  font-size: x-large;
}

.claimed-text {
  margin-right: 8px;
}

.gift-url {
  color: blue;
  text-decoration: underline;
  --background: transparent;
}


.header-img {
  height: 5vh;
  margin-right: 8px;
  border-radius: 15%;
}

.gift-list {
  background: transparent;
}


.gift-icon-red {
  color: red;
  font-size: 24px;
}
.gift-icon-green {
  color: green;
  font-size: 24px;
}

.gift-list-page-toolbar {
  --background: rgb(210, 247, 210);
}
