<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{userName}} Christmas List</ion-title>
    <app-user-image [in-header]="true" slot="end"></app-user-image>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="gift-list">
    <ion-item *ngFor="let gift of gifts; index as i">
      <!-- nth-child() not working -- probably due to shadow dom -->
      <ion-card class="gift-card" [ngClass]="{ 'gift-card-red': i % 2 === 0,  'gift-card-green': i % 2 === 1}">
        <ion-card-header>
          <ion-card-title>
            <ion-icon class="gift-icon-red" name="gift"></ion-icon>
            {{gift.name}}
            <ion-icon class="gift-icon-green" name="gift"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{gift.info}}
          <ion-item class="gift-url" detail *ngIf="gift.url" [href]="gift.url" target="_blank">
            {{gift.url.slice(0, 30)}}
          </ion-item>
        </ion-card-content>
        <!-- only show claimed and comments if you are looking at someone else's list -->
        <ion-buttons>
          <!-- seems weird to make this a button, but doing so made all the heights the same -->
          <ion-button slot="start" fill="outline" *ngIf="! yourOwnList">
            <ion-text class="claimed-text">Claimed</ion-text>
            <ion-checkbox [(ngModel)]="gift.claimed" (ionChange)="claimedClicked(gift)"></ion-checkbox>
          </ion-button>
          <ion-button fill="outline" *ngIf="! yourOwnList" [routerLink]="'/comments/' + gift.giftid">
            {{getNumCommentsForAGift(gift)}} comments
          </ion-button>
          <ion-button *ngIf="youAdded(gift)" (click)="delete(i)">
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="addGift(uid)">
    <ion-icon name="add"></ion-icon>
    Add
  </ion-button>

</ion-content>