<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{userName}} Gift List</ion-title>
    <app-user-image [in-header]="true" slot="end"></app-user-image>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="gift-list">
    <ion-item *ngFor="let gift of gifts; index as i">
      <!-- nth-child() not working for alternating colors -- probably due to shadow dom -->
      <ion-card class="gift-card" [ngClass]="{ 'gift-card-red': i % 2 === 0,  'gift-card-green': i % 2 === 1}">

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon class="gift-icon-red" name="gift"></ion-icon>
              <ion-text class="gift-name">{{gift.name}}</ion-text>
            </ion-col>
            <ion-col size="auto" class="edit-delete-col">
              <ion-button class="edit-delete-button" *ngIf="youAdded(gift)" (click)="editGift(gift)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto" class="edit-delete-col">
              <ion-button class="edit-delete-button" *ngIf="youAdded(gift)" (click)="delete(i)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="gift.info">
            <ion-col>
              {{gift.info}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="gift.url">
            <ion-col>
              <ion-item class="gift-url" detail [href]="gift.url" target="_blank">
                {{gift.url.slice(0, 30)}}
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="gift.imageFilename">
            <ion-col>
              <ion-thumbnail>
                <ion-img [src]="gift.imageData ? makeImageUrl(gift.imageData) : (gift.imageUrl | async)"
                  (click)="showLargeImage(gift)">
                </ion-img>
              </ion-thumbnail>
            </ion-col>
          </ion-row>

          <!-- only show claimed and comments if you are looking at someone else's list -->
          <ion-row *ngIf="! yourOwnList">
            <ion-col>
              Est cost: {{gift.cost}}
            </ion-col>
            <!-- seems weird to make this a button, but doing so made all the heights the same -->
            <ion-col size="auto">
              <ion-buttons>
                <ion-button slot="start" fill="outline">
                  <ion-text class="claimed-text">Claimed</ion-text>
                  <ion-checkbox [(ngModel)]="gift.claimed" (ionChange)="claimedClicked(gift)"></ion-checkbox>
                </ion-button>
                <ion-button fill="outline" [routerLink]="'/comments/' + gift.giftid">
                  {{getNumCommentsForAGift(gift)}} comments
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="addGift(uid)">
    <ion-icon name="add"></ion-icon>
    Add
  </ion-button>

</ion-content>