<ion-header>
  <ion-toolbar class="comments-page-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comments for Gift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-card class="comment-card" *ngFor="let comment of comments">
    <ion-card-header>
      <ion-card-subtitle>
        {{comment.timestamp.toDate() | date:"medium"}}
      </ion-card-subtitle>
      <ion-card-title>
        {{comment.message}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{dataSvc.uidToName(comment.uid)}}
    </ion-card-content>
  </ion-card>
  <ion-item lines="none">
    <ion-icon name="chatbubbles-outline"></ion-icon>
    <ion-input class="enter-comment" enterkeyhint="done" type="text" [(ngModel)]="newComment" size="18"
      placeholder="Add your thoughts here" (keyup.enter)="addComment()"></ion-input>
  </ion-item>
</ion-content>