.enter-comment {
  margin-left: 8px;
  border-bottom: 2px solid  blue;
  width: 50vw;
}

.comment-card {
  background-image: linear-gradient(lightblue, rgb(145, 221, 245));
}

ion-icon {
  color: white;
}

input {
  color: black;
}

