/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.space-above {
  margin-top: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

ion-toolbar {
  color: black;
}

ion-content {
  // Workaround for issue related to css varialbes
  // being recalculated with DOM changes
  // https://github.com/ionic-team/ionic-framework/issues/17494
  // https://github.com/ionic-team/ionic-framework/issues/16678
  &::part(background) {
    background: url('/assets/olena-sergienko-iVnKChvQJZA-unsplash.jpg') no-repeat center/cover;
  }
  // --background: url('/assets/olena-sergienko-iVnKChvQJZA-unsplash.jpg') no-repeat center/cover;
}

// Allow the background to show through, but put a little gray in so you can see the
// text better.
ion-item, ion-list-header, ion-footer {
  --background: rgb(33, 33, 33, 0.8);
}

ion-footer {
  color: white;
}

.loading-popup {
  color: black;
  --spinner-color: black;
}

// For the ion-datetime on the create page,
// if we don't do this, it is white on white.
ion-picker * {
  // --ion-text-color: black !important;
  color: black !important;
}

ion-button {
  --background: rgb(210, 247, 210);
  --background-activated: rgb(210, 247, 210);
  color: black;
}

ion-radio::part(mark) {
  --color-checked: rgb(210, 247, 210);
}

ion-checkbox::part(container) {
  --checkmark-color: black;
  --background-checked: rgb(210, 247, 210);
}

ion-back-button {
  color: black;
}