
.user-pic {
  padding: 1vw;
}

.user-card {
  --background: rgb(210, 247, 210);
}
ion-card-title {
  font-size: 4vw;
  white-space: nowrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}