.required-field {
  color: red;
}

// the fields (group name, event date) are indented too much
// without the following.
fieldset {
  ion-item {
    --padding-start: 0;
  }
}

// On iOS, using ion-list puts a gray background behind everything.
ion-list {
   background: unset;
}

.group-id-text {
  font-weight: bold;
  font-size: large;
}

ion-icon, ion-segment-button {
  color: green;
}

ion-list-header {
  color: inherit;
}

.create-group-input, .join-group-input {
  color: black;
}