

.space-above {
  margin-top: 50px;
}

.group-id-text {
  font-weight: bold;
  font-size: large;
}

.create-button {
  margin-top: 0px;
}

ion-icon, ion-segment-button {
  color: green;
}

ion-list-header {
  color: inherit;
}

.create-group-input, .join-group-input {
  color: black;
}