
// the fields (group name, event date) are indented too much
// without the following.
fieldset {
  ion-item {
    --padding-start: 0;
  }
}

// On iOS, using ion-list puts a gray background behind everything.
ion-list {
   background: unset;
}

.group-id-text {
  font-weight: bold;
  font-size: large;
}

ion-icon .segment-button-checked {
  color: black;
}

ion-list-header {
  color: inherit;
}

.join-group-input {
  color: black;
}
.group-mgmt-page-toolbar {
  --background: rgb(210, 247, 210);
}

ion-segment-button {
  --color: white;
}
