<ion-header>
  <ion-toolbar>
    <ion-title>Groups</ion-title>
    <app-user-image [in-header]="true" slot="end"></app-user-image>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="groupsLoaded">

    <ion-segment value="select" (ionChange)="selectAction($event)">
      <ion-segment-button value="select" layout="icon-start">
        <ion-label>Select</ion-label>
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="join" layout="icon-start">
        <ion-label>Join</ion-label>
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="create" layout="icon-start">
        <ion-label>
          Create
        </ion-label>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="action === 'join'" class="space-above">
      <ion-item class="center">To join a group, enter the unique group id <br>
        sent to you by the group administrator.
      </ion-item>
      <ion-item class="center">
        <input class="join-group-input" type="text" placeholder="group id" [(ngModel)]="groupId">
      </ion-item>
      <ion-item class="center">
        <ion-button size="small" (click)="joinGroup()">Join group</ion-button>
      </ion-item>
    </div>

    <div *ngIf="action === 'select'" class="space-above">
      <div *ngIf="groups.length > 0">
        <ion-radio-group [(ngModel)]="selectedGroup">
          <ion-list-header>
            <ion-label>Choose a group you are in</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let grp of groups">
            <ion-label>{{grp.name}}</ion-label>
            <ion-radio slot="start" [value]="grp.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item>
          <ion-button [disabled]="selectedGroup === ''" class="center" size="small" (click)="groupSelected()">Go to
            group
          </ion-button>
        </ion-item>
      </div>
      <ion-item *ngIf="groups.length === 0">
        You are not in any groups yet.
      </ion-item>
    </div>
  </div>

  <div *ngIf="action === 'create'" class="center space-above">
    <form #f="ngForm">
      <fieldset>
        <legend>Create a new group / event</legend>
        <ion-item>
          <ion-label><span class="required-field">*</span>Enter the group name: </ion-label>
          <input #fName="ngModel" class="create-group-input" name="groupName" type="text"
            placeholder="e.g., Susan birthday" [(ngModel)]="newGroupName" required>
        </ion-item>
        <ion-item>
          <ion-label><span class="required-field">*</span>Enter the date of the event: </ion-label>
          <ion-datetime #fName="ngModel" name="datetime" placeholder="date" displayFormat="MMM DD YYYY" max="2030"
            [(ngModel)]="groupEventDate" required>
          </ion-datetime>
        </ion-item>
        <ion-item>
          The group will be deleted 3 days after the event. A participant's gift list will be
          removed if the participant is only in this group.
        </ion-item>
        <ion-item>
          <ion-label>Do not delete the group ever:</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button [disabled]="!f.valid" class="create-button" size="small" (click)="createNewGroup()">Create
        </ion-button>
        <div *ngIf="newGroupId">
          <p class="center">
            Your new group, <b>{{newGroupName}}</b>, has the unique id:
          </p>
          <div class="group-id-text center">
            {{newGroupId}}
          </div>
          <p class="center">
            You have been added to the new group and <br>made the administrator of it.
          </p>
          <p class="center">
            To easily ask others to join the group, <br>send them the unique id by<br>
            clicking the button below.
            <br>
            <ion-button class="center" size="small" (click)="sendIdInEmail()">Send id via email</ion-button>
          </p>
        </div>
      </fieldset>
    </form>
  </div>

</ion-content>